




body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  

}

.body-container{
  max-width: 100%;
}
.navigation-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  margin-left: 2em;
  
}

.navigation-right{
  display:flex;
  gap: 3em;
  padding-right: 10px;
}

.navigation-right a{
  text-decoration: none;
  color: black;
  font-family: 'Raleway';
}

.section{
  display: flex;
  gap: 10em;
  margin-left: 2em;
  
}

.section-right img{
  width: 40vw;
  margin-right: 55px;
  margin-top: 45px;

}
.section-left{
  margin: 20px;
   margin-top: 100px; 
  

}

.section-left h2{
  font-size: xx-large;
  font-weight: 700;
  font-family: 'Raleway';
  
  
  
}

.section-left input{
  border-width: 1px ;
  padding: 7px;
  width: 250px;
}

.section-left button{
  background-color: #007FFF;
  color: white;
  border: none;
  margin-left: 7px;
  padding: 8px 29px;
  
}


.section-left p{
  
  font-size: small;
  font-family: sans-serif;
  
}

::placeholder{
  opacity: 0.5;
}

.image2{
  width: 30vw;
}

.mid-body-container{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* margin-left: 80px; */
  background-color:#f8f8fe;
  /* min-width: 100vw; */
  margin: 0 !important;
  /* margin-bottom: 40px; */
  padding-bottom: 100px;
  /* background-size: cover; */

}

.mid-body-container h1{
  font-size: xx-large ;
  font-weight: bold;
  width: 100%;
  margin-left: 1px;
  font-family: 'Raleway';
}

.mid-body-container-left a{
  color:#8abeb5;
  font-family:sans-serif;
  text-decoration: none;
}

hr{
  width: 30%;
  margin-left: 1px;
  margin-top: 2px;
  color: #8abeb5 ;
}

.link{
  display: flex;
  align-items: center;
  gap: 2px;
}

.small-container{
  background-color: white;
  margin-top: 40px;
  padding: 20px;
  width: 250px;
  margin-bottom: 20px;

}

.mid-body{
  margin-top:200px;
  margin-bottom: 0 !important;
  position: relative;
  
}

.mid-body-container-left{
  margin-left: 80px;
  margin-top: 45px;
}

.avatar-pic{
  border-radius: 50%;
  width: 3vw;
}

.testimonial-details{
  display: flex;
  align-items: center;
  gap: 10px;
}

.testimonial-info{
  line-height: 3px;
}

.image2{
  margin-left: 110px;
  width: 35vw;
  margin-top: 30px;

}

.mid-body-container-left p{
  font-size: small;
  font-family: sans-serif;  
}

.small-container p{
  font-size: small;
}

.image-class{
  position: absolute;
  top: -5rem !important;
  max-width: 100%;
  
}
.top-footer{
  display: flex;
  align-items: center;
  gap: 280px;
  padding: 60px;
  background-color: #575989;
  color: white;
  
}

.lower-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #07043b;
  color: white;
  height: 15vw;
  padding: 90px;
  

}
.top-footer-right input{
  border: none;
  padding: 9px;
  width: 320px;
  border-radius: 2px;
}

.top-footer-left{
  margin-left: 30px;
}

.top-footer-left h3{
  font-family:'Raleway';
  font-weight: 600;
  font-size: x-large;
}

.top-footer-left p{
  font-family: sans-serif;
  font-size: small;
  font-family: 'Raleway' 'Open+Sans';
}

.top-footer-right button{
  background-color: #2c67f6;
  color: white;
  border: none;
  /* margin-left: 7px; */
  padding: 8px 29px;
  font-family: sans-serif;
  border-radius: 1px;

}

.phone-details{
  display: flex;
  align-items: center;
  gap: 20px;
}

.email-details{
  display: flex;
  align-items: center;
  gap: 20px;

}

.lower-icon{
  color: white;
}

.lower-footer-links a{
  text-decoration: none;
  color: white;
  font-family:'Raleway';
  
}

.lower-footer-contact a{
  text-decoration: none;
  color: white;
  font-family:'Raleway';
}




.lower-footer-links{
  margin-top: 90px;
  margin-right: 40px;
  font-family:'Raleway';
  font-size: medium;
}

.lower-footer-contact{
  margin-top: 52px;
  margin-right: 60px;
  font-family: 'Raleway';
  font-size: medium;
}

.lower-footer-icons{
  margin-left: 20px;
}

.social-media-icons{
  margin-right: 60px;
  display: flex;
  gap: 25px; 

}

.social-media-icons i{
  border: 1px solid white;
  padding: 12px;
  border-radius: 50%; 
  width: 1vw;
}

.small-container p, h4 {
  font-family: sans-serif;

}

@media screen and (max-width:480px){

  .navigation-header{
      margin-left: 0.1em; 
  }

  .navigation-right{
    gap: 1em;
    
  }
  
  .logo{
    width: 70px;
  }
  
  .navigation-right a{
    font-family: 'Raleway';
    font-size: small;
    margin-bottom: 5px;

  }

  .section{
    flex-direction: column-reverse;
    gap: 3em;
    margin-left: 0 !important;
    padding: 0 10px;
    
  }

  .section-right{
    padding: 18px;
  }


   .section-right img{
    width: 75vw;
    padding: 5px;
    margin-top: 70px;
    height: 230px;
  
  }

   .section-left h2{
    font-size: x-large;
    font-weight: 700;
    font-family: sans-serif;
    text-align: center;
    
    
   }
  .section-left{
     margin: 0.1em;
     
     
    
  }

  .section-left p{
  text-align: center;
  font-size: large;
    
  }

  .section-left input{
    margin-left: 20px ;
    margin-top: 7px;
    padding: 10px ;
    border-radius: 3px;
    width: 285px;
  }
  
  .section-left button{
  margin-left: 20px;
  margin-top: 30px;
  padding: 11px 120px;
  border-radius: 3px;
    
}

.image-class{
   top:-1.7rem !important;

}

.mid-body-container{

flex-direction: column-reverse;
  

}


.image2{
  margin-left: 5px;
  width: 80vw;
  margin-top: 70px;
}

.mid-body-container-left{
  margin-left: 10px;
  padding: 60px;
  
}

.mid-body-container h1{
  font-size: medium;
  font-family: 'Raleway';
  margin-left: 40px;
  width: 150px;
  white-space: nowrap ;
}


.mid-body-container-left p{
   text-align: center;  
  font-size: medium;
  color: #7e7c92;
  margin-right: 20px;
  width: 340px;

}

.link{
  margin-left: 90px;
  margin-top: 30px;
}


hr{
  width: 45%;
  margin-left: 87px;
  
  }

  .small-container{
    
  
    padding-right: 270px;
    width: 0;
    /* margin-left: 5px; */
    border-radius: 5px;
    margin-left: 30px;

   
 }

 .small-container p{

  font-size: small;
  line-height: 20px;
  text-align: left;
  
 }

 .avatar-pic{
  width: 9vw;
}

.testimonial-info h4{
  margin-bottom: 4px;
  font-size: medium;
}

.top-footer{
  flex-direction: column;
  gap: 3px;
  
}

.top-footer-left{
  padding: 30px;
}
   
.top-footer-left h3{
  white-space: nowrap;
  margin-right: 20px;
  margin-left: 40px;

}

.top-footer-left p{
  font-size: medium;
  text-align: center;
  margin-right: 25px;
  width: 350px;
  
}

.top-footer-right input{
  
  width: 200px;
  margin-right: 20px;
  
}


.top-footer-right button{
  
  padding: 8px 48px;
  font-family: sans-serif;
  border-radius: 1px;

}


  
.lower-footer{
  flex-direction: column;
  height: 100%;
  padding-top: 90px;
  padding-bottom: 60px;
  
}

.lower-footer-icons{
  margin-right: 110px;
}

.phone-details p{
  white-space: nowrap;

}

.lower-footer-links{
  margin-top: 10px;
  margin-right: 220px;
  font-family:sans-serif;
  
}

.lower-footer-contact{
  margin-top: 52px;
  margin-right: 210px;
  font-family: sans-serif;
  font-size: medium;
}

.lower-footer-links a{
  
  white-space: nowrap;
}

.lower-footer-contact a{
  white-space: nowrap;
  
}

.social-media-icons{
  margin-top: 60px;
  margin-left: 65px;
  
  

}

.social-media-icons i{
  
  width: 3vw;
}


  


}



@media screen and (min-width: 481px) and (max-width: 768px) {
  
  .navigation-header {
    padding: 3em;
    margin-left: 0.5em;
  }


  .section-left{
    margin-top: 54px;
    margin-left: 0.5em; 
    padding: 10px;
    
  }

  .section-left h2{
    font-size: x-large;
    font-weight: 700;
    font-family: 'Raleway';
    width: 320px;
    
    }
    .section{
      display: flex;
      gap: 2em;
      margin-left: 2em;
      
    }
    
    .section-right img{
      width: 38vw;
      margin-right: 55px;
      margin-top: 40px;
      height: 300px;
    
    }

    .navigation-right{
    
      gap: 2em;
      padding-right: 2px;
    }
    
    .navigation-right a{
      
      font-family: 'Raleway';
    }

    .logo{
      width: 100px;
    }
    .section-left p{
  
      font-size: medium;
      width: 260px; ;
    
      
    }

    .section-left input{
      
      padding: 7px;
      width: 150px;
    }
    
    .section-left button{
      
      padding: 8px 32px;
  
      
    }

    .image-class{
      top: -3rem !important;
    }

    .mid-body-container h1{
      font-size: large ;
      white-space: nowrap;
      
  }

  .mid-body-container-left{
    margin-left: 40px;
    margin-top: 45px;
  }

  .mid-body-container-left p{
    font-size: medium;
     
  }

  .small-container p{
    font-size: small;

   }
   
   .mid-body-container{

    padding-right: 90px;
    
  }
  
   
   
   .image2{
    /* margin-left: 20px; */
     height: 30vw; 
    margin-bottom: 210px;
    
  
  }

  hr{
    width: 53%;
    
  }

  .top-footer{
    
    gap: 70px;
    padding: 17px;
    height: 200px;
    
    
  }

  .top-footer-left{
    
    padding-right: 50px;
  }

   .top-footer-left h3{
    white-space: nowrap;
    font-size: large;
  }
  
  .top-footer-left p{
    
    font-size: smaller;
    width: 260px;
    
  } 
  
  
  .top-footer-right input{
    
    width: 200px;
    padding: 6px;
    
    
  }

  .top-footer-right button{
    
    padding: 5px 4px;
    
  
  }

  .lower-footer{
    
    height: 40vw;
    /* padding-bottom: 100px;
    padding-right: 80px;
     */
     padding: 20px;
     
  
  }
    
  .lower-icon{
    width: 25vw;
    
  }

  .lower-footer-icons{
     margin-right: 80px; 
  }

  .lower-footer-icons p{
    white-space: nowrap;

  }

  .lower-footer-links a{
    white-space: nowrap;
  }

  .lower-footer-contact a{
    white-space: nowrap;
  }
  .social-media-icons{
    margin-right: 120px;
    display: flex;
    gap: 10px; 
  
  }
  .social-media-icons i{
    width: 1.5vw;
    padding: 12px;
    
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  
  .navigation-header {
    padding: 3em;
    margin-left: 0.5em;
  }


  .section-left{
    margin-top: 54px;
    margin-left: 0.5em; 
    padding: 10px;
    
  }

  .section-left h2{
    font-size: x-large;
    font-weight: 700;
    font-family: 'Raleway';
    width: 320px;
    
    }
    .section{
      display: flex;
      gap: 2em;
      margin-left: 2em;
      
    }
    
    .section-right img{
      width: 38vw;
      margin-right: 55px;
      margin-top: 40px;
      height: 300px;
    
    }

    .navigation-right{
    
      gap: 2em;
      padding-right: 2px;
    }
    
    .navigation-right a{
      
      font-family: 'Raleway';
    }

    .logo{
      width: 100px;
    }
    .section-left p{
  
      font-size: medium;
      width: 260px; ;
    
      
    }

    .section-left input{
      
      padding: 7px;
      width: 150px;
    }
    
    .section-left button{
      
      padding: 8px 32px;
  
      
    }

    .image-class{
      top: -3rem !important;
    }

    .mid-body-container h1{
      font-size: large ;
      white-space: nowrap;
      
  }

  .mid-body-container-left{
    margin-left: 40px;
    margin-top: 45px;
  }

  .mid-body-container-left p{
    font-size: medium;
     
  }

  .small-container p{
    font-size: small;

   }
   
   .mid-body-container{

    padding-right: 90px;
    
  }
  
   
   
   .image2{
    /* margin-left: 20px; */
     height: 30vw; 
    margin-bottom: 210px;
    
  
  }

  hr{
    width: 53%;
    
  }

  .top-footer{
    
    gap: 70px;
    padding: 17px;
    height: 200px;
    
    
  }

  .top-footer-left{
    
    padding-right: 50px;
  }

   .top-footer-left h3{
    white-space: nowrap;
    font-size: large;
  }
  
  .top-footer-left p{
    
    font-size: smaller;
    width: 260px;
    
  } 
  
  
  .top-footer-right input{
    
    width: 200px;
    padding: 6px;
    
    
  }

  .top-footer-right button{
    
    padding: 5px 4px;
    
  
  }

  .lower-footer{
    
    height: 40vw;
    /* padding-bottom: 100px;
    padding-right: 80px;
     */
     padding: 20px;
     
  
  }
    
  .lower-icon{
    width: 25vw;
    
  }

  .lower-footer-icons{
     margin-right: 80px; 
  }

  .lower-footer-icons p{
    white-space: nowrap;

  }

  .lower-footer-links a{
    white-space: nowrap;
  }

  .lower-footer-contact a{
    white-space: nowrap;
  }
  .social-media-icons{
    margin-right: 120px;
    display: flex;
    gap: 10px; 
  
  }
  .social-media-icons i{
    width: 1.5vw;
    padding: 12px;
    
  }
}